# Gobernanza del Repositorio
*                       @Jayrivarex
/k8s/                   @Jayrivarex
/apim/                  @Jayrivarex
/.github/workflows/     @Jayrivarex
/terraform/             @Jayrivarex
