# Gobernanza del Repositorio
*                       @TU_USUARIO_GITHUB
/k8s/                   @TU_USUARIO_GITHUB
/apim/                  @TU_USUARIO_GITHUB
/.github/workflows/     @TU_USUARIO_GITHUB
